<h1>Hi <%= @receiver.pp_username %></h1>
<p>
<b><%= @sender.pp_username %></b> has accepted your friend request.
</p>
<p>
Send a greeting to <b><%= @sender.pp_username %></b> on <%= link_to "SPairing", @url %>.
</p>
