<h4>Welcome to SPairing, <%= @player_profile.pp_username %></h4>
<p>
  You have successfully signed up to <%= link_to "SPairing", @url %>,
  your username is: <%= @player_profile.pp_username %>.<br>
</p>
<p>
  To login on the site, just follow this link: <%= link_to "Login", @url + "login" %>
</p>
<p>Thanks for joining and have a great day!</p>
