<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="mailers.css">
  </head>
  <body>
    <div class="card-panel" style="padding: 0; max-width: 700px;">
      <div class="card-panel primary-color center-align" style="margin: 0; padding:8px 0;">
        <h4 style="margin: 0">SPairing</h4>
      </div>
      <div class="card-panel background-color" style="margin: 0">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
